.rs-footer {
  background: #073553;
  padding-top: 5rem;
  padding-bottom: 4rem;
  font-weight: 300;
  color: #ffffff7a;
    margin-top: 2%;

  @include media-breakpoint-down(md) {
    font-size: .875rem;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .row:first-child {
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .heading {
    color: white;
    text-transform: uppercase;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: .5rem;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: #FCC04E;
    text-decoration: none;
    line-height: 2em;
  }
}
.socialLis li{
    display: inline-block;
    margin: 0 3%;
}