.logo {
  @include image-2x('../images/logo', 'png', 149px, 17px);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 28px;
  // display: inline-block;
  display: block;

  text-indent: -9999em;
  position: relative;

  &-inverse,
  .rs-header--sticky &,
  .rs-section-teaser--night &,
  .rs-section-interactive--night & {
    @include image-2x('../images/rb-logo-inverse', 'png', 150px, 28px);
  }

  @include media-breakpoint-down(sm) {
    .rs-header--sticky &,
    .rs-section-teaser--night &,
    .rs-section-interactive--night & {
      @include image-2x('../images/rb-logo', 'png', 150px, 28px);
    }
  }
}
