<!-- <section class="rs-section-battery">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-xs-12 text-lg-left text-xs-center">
        <h2>Read more about our new and innovative technology</h2>
        <a href="/technology" class="button button-outline">
          Learn More
        </a>
      </div>
      <div class="col-lg-5 col-xs-12" style="position: static;">
        <img src="/images/sections/battery/big.png" data-retina class="battery battery-big" alt="">
      </div>
    </div>
  </div>
</section>
 -->