<footer class="rs-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="logo logo-inverse"></div>
        <br />
        <p>Rensource is revolutionizing energy provision in Nigeria by offering a subscription based energy service that provides you the power you need to live your best life.</p>
      </div>

      <div class="col-xs-12 hidden-lg-up"><br /></div>

      <div class="col-lg-2 col-md-3 col-xs-6">
        <!-- <div class="heading">Subscriptions</div>
        <ul>
          <li>
            <a href="/subscription">Go</a>
          </li>
          <li>
            <a href="/subscription">Eco</a>
          </li>
          <li>
            <a href="/subscription">Duplo</a>
          </li>
          <li>
            <a href="/subscription">Pro</a>
          </li>
        </ul> -->
      </div>

      <div class="col-lg-2 col-md-3 col-xs-6">
        <div class="heading">Company</div>
        <ul>
          <li>
            <a href="/company">About us</a>
          </li>
          <li>
            <a href="/company">Team</a>
          </li>
          <li>
            <a href="/magazine">Magazine</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-12 hidden-sm-up"><br /></div>

      <div class="col-lg-2 col-md-3 col-xs-6">
        <div class="heading">Contact</div>
        <ul>
          <li>
            <a href="/technology">Technology</a>
            <!-- <a href="mailto:subscription@rensource.energy">Subscriptions</a> -->
          </li>
          <li>
            <a href="/support">Support</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 col-xs-6">
        <div class="heading">Social</div>
        <ul>
          <li>
            <a href="https://www.facebook.com/rensource/" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/rensourceenergy" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="http://medium.com/@rensourceenergy" target="_blank">Medium</a>
          </li>
          <li>
            <a href="https://instagram.com/rensource" target="_blank">Instagram</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row text-xs-center">
      <div class="col-sm-6 text-md-left">© <%= new Date().getFullYear() %> - Rensource Distributed Energy Limited</div>
      <div class="col-xs-12 hidden-sm-up"><br /></div>
      <div class="col-sm-6 text-md-right">
        <div class="copyright">
          <div class="copyright-part">
            <img src="/images/flags/germany.png" data-retina alt="Flag of 3WP" />
            Designed in Germany
          </div>
          <div class="copyright-part">
            <img src="/images/flags/nigeria.png" data-retina alt="Flag of Nigeria" />
            Made for Nigeria
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<%- include modal.ejs %>
