<meta charset="UTF-8">
<title>rensource - Electrifying your life using energy from the sun</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<meta property="og:title" content="rensource - Electrifying your life using energy from the sun">
<meta property="og:description" content="Rensource offers a simple membership-based subscription model to access use of solar systems that can power your entire home.">
<meta property="og:image" content="/images/meta.jpg">
<meta property="og:image:width" content="1800">
<meta property="og:image:height" content="1000">

<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
<link rel="stylesheet" href="/styles/main.css">

<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
