<div class="rs-section-teaser-header rs-header">
  <div class="container rs-section-teaser__header-container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-6">
        <a href="/" class="logo">Rensource</a>
      </div>
      <div class="col-xs-6 text-xs-right hidden-md-up">
        <button class="rs-header-collapser" data-collapse=".rs-header-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <ul class="rs-header-nav col-lg-9 col-md-9">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/services">What We Do</a>
        </li>
        <li>
          <a href="/company">Company</a>
        </li>
        <!-- <li>
          <a href="/impact">Impact</a>
        </li> -->
        <!-- <li class="rs-header-nav_dropdown_holder">
          <span>
            Company
          </span>
          <div class="rs-header-nav_dropdown">
            <a href="/company">About Rensource</a>
            <a href="/technology">Technology</a>
          </div>
        </li> -->
        <%# <li>
          <a href="#" id="get-started" class="button button-green">Login</a>
        </li> %>
        <!-- <li>
          <a href="#Register" class="button button--noleft button-green">Become a member</a>
        </li> -->
      </ul>
    </div>
  </div>
</div><!-- END.Header -->
