<div class="social-login social-login--auth">
  <div class="social-login__overlay"></div>
  <div class="social-login__box">
    <div class="social-login--login">
      <div class="social-login__control">
        <button class="goToLogin active">Login</button>
        <button class="goToRegister">Sign up</button>
      </div>

      <form class="social-login__form social-login__form--login" autocomplete="off">
        <div class="social-login__error" style="display: none">
          <div class="social-login__errorIcon">!</div>
          <div class="social-login__errorLabel"></div>
        </div>
        <input autocomplete="off" type="email" name="email" placeholder="Email">
        <div style="position: relative">
          <input autocomplete="off" type="password" name="password" placeholder="Password">
          <div class="social-login__info">
            <div class="social-login__info__content">
              minimum 8 characters
            </div>
            ?
          </div>
        </div>
        <button class="button button-green login-submit" disabled>Login now</button>
        <a href="#" data-launch-password style="outline:none;margin-top:5px;font-size:11px;color:#555;text-align:center;display:block;">Forgot password?</a>
      </form>
      <div class="social-login__line">
        <span>or</span>
        <hr>
      </div>
      <span style="display: block; height: 10px; width: 100%;"></span>
      <p>
        <a href="http://API_HOST/v1/auth/facebook?auth_origin_url=http://CLIENT_HOST/dashboard/overview" class="button button--prefixed button--prefixed--full facebook">
          Login with
          <span class="button__prefix button__prefix--full">
            <i class="fab fa-facebook"></i>
          </span>
        </a>
        <span style="display: block; height: 10px; width: 100%;"></span>
        <a href="http://API_HOST/v1/auth/google_oauth2?auth_origin_url=http://CLIENT_HOST/dashboard/overview" class="button button--prefixed button--prefixed--full google">
          Login with
          <span class="button__prefix button__prefix--full">
            <i class="fab fa-google"></i>
          </span>
        </a>
      </p>
    </div>

    <!--  -->

    <div class="social-login--signup">
      <div class="social-login__control">
        <button class="goToLogin">Login</button>
        <button class="goToRegister active">Sign up</button>
      </div>

      <form class="social-login__form social-login__form--signup" autocomplete="off">
        <div class="social-login__error" style="display: none">
          <div class="social-login__errorIcon">!</div>
          <div class="social-login__errorLabel"></div>
        </div>
        <input autocomplete="off" type="email" name="email" placeholder="Email">
        <div style="position: relative">
          <div class="social-login__form__line"></div>
          <input autocomplete="off" type="password" name="password" placeholder="Password">
          <div class="social-login__info">
            <div class="social-login__info__content">
              minimum 8 characters
            </div>
            ?
          </div>
        </div>
        <button class="button button-green registration-submit" disabled>Sign up now</button>
      </form>
      <div class="social-login__line">
        <span>or</span>
        <hr>
      </div>
      <span style="display: block; height: 10px; width: 100%;"></span>
      <p>
        <a href="http://API_HOST/v1/auth/facebook?auth_origin_url=http://CLIENT_HOST/dashboard/initial" class="button button--prefixed button--prefixed--full facebook">
          Signup with
          <span class="button__prefix button__prefix--full">
            <i class="fab fa-facebook"></i>
          </span>
        </a>
        <span style="display: block; height: 10px; width: 100%;"></span>
        <a href="http://API_HOST/v1/auth/google_oauth2?auth_origin_url=http://CLIENT_HOST/dashboard/initial" class="button button--prefixed button--prefixed--full google">
          Signup with
          <span class="button__prefix button__prefix--full">
            <i class="fab fa-google"></i>
          </span>
        </a>
      </p>
    </div>
  </div>
</div>

<div class="social-login social-login--email">
  <div class="social-login__overlay"></div>
  <div class="social-login__box">
    <div>
      <h3 style="font-size: 1.5rem; margin-top: 20px; margin-bottom: 20px;">Enter your email</h3>
      <div class="social-login__error" style="display: none">
        <div class="social-login__errorIcon">!</div>
        <div class="social-login__errorLabel"></div>
      </div>
      <form class="social-login__form social-login__form--email" style="padding: 0;" autocomplete="off">
        <input autocomplete="off" type="email" name="email" placeholder="Email address">
        <button id="reset-submit" class="button button-green reset-submit" disabled>Send reset email</button>
      </form>
    </div>

    <div style="padding-top: 50px; padding-bottom: 50px;">
      <img src="images/icons/icn-mark-big.svg" style="margin: 0 auto 50px;" alt="">
      <h3 class="centered">Check your inbox</h3>
      <p style="text-align: center; margin-bottom: 0;">We just sent an email with instructions to reset your password.</p>
    </div>
  </div>
</div>

<div class="social-login social-login--password">
  <div class="social-login__overlay"></div>
  <div class="social-login__box">
    <h3 style="font-size: 1.5rem; margin-top: 20px; margin-bottom: 20px;">Enter new password</h3>
    <form class="social-login__form social-login__form--password" autocomplete="off">
      <div style="position: relative">
        <input autocomplete="off" type="password" name="password" placeholder="Password">
        <div class="social-login__info">
          <div class="social-login__info__content">
            minimum 8 characters
          </div>
          ?
        </div>
      </div>
      <div style="position: relative">
        <input autocomplete="off" type="password" name="password" placeholder="Password confirmation" class="social-login--password--conf">
      </div>
      <button class="button button-green reset-submit" disabled>Reset password</button>
      <button class="button button-green reset-success" style="display: none">Login</button>
    </form>
  </div>
</div>
