<section class="rs-section-registration" id="Register">
  <div class="container">
    <h3 class="centered">
      <b>Subscribe</b> now
    </h3>
    <p class="text-xs-center">Get started on the path towards energy independence by answering a few simple questions.</p>

    <div class="rs-section-registration-success" style="display: none;">
      <img src="/images/mail.png" alt="">
      <br><br>
      <h2>Verify your email</h2>
      <p>We just sent you a confirmation via email. Please click the link on this device to activate your account.</p>
      <button class="button button-green registration-resend">SEND EMAIL AGAIN</button>
    </div>
    <form class="rs-section-registration-form" autocomplete="off">
      <div class="container">
        <div class="rs-section-registration-slider">
          <div>
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <input autocomplete="off" type="text" name="first_name" placeholder="First name" id="name">
              </div>
              <div class="col-md-4 col-sm-12">
                <input autocomplete="off" type="text" name="middle_name" placeholder="Middle name">
              </div>
              <div class="col-md-4 col-sm-12">
                <input autocomplete="off" type="text" name="last_name" placeholder="Last name">
              </div>
              <div class="col-md-12 col-sm-12 hidden-sm-down">
                <br>
              </div>
              <div class="col-md-12 col-sm-12">
                <select name="gender">
                  <option value="" disabled selected>Select your gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <div class="col-md-12 col-sm-12 hidden-sm-down">
                <br>
              </div>
              <div class="col-md-6 col-sm-12">
                <input autocomplete="off" type="email" name="email" placeholder="Email">
              </div>
              <div class="col-md-6 col-sm-12">
                <input autocomplete="off" type="email" name="email_confirmation" placeholder="Email confirmation">
              </div>
              <div class="col-md-12 col-sm-12 hidden-sm-down">
                <br>
              </div>
              <div class="col-md-6 col-sm-12">
                <input autocomplete="off" type="password" name="password" placeholder="Password">
              </div>
              <div class="col-md-6 col-sm-12">
                <input autocomplete="off" type="password" name="password_confirmation" placeholder="Password confirmation">
              </div>
              <div class="col-md-12 col-sm-12 hidden-sm-down">
                <br>
              </div>
              <div class="col-md-6 col-sm-12">
                <input autocomplete="off" type="text" name="referral_token" placeholder="Referral Code (optional)">
              </div>
              <div class="col-md-6 col-sm-12">
                <select name="subscription_tier" id="product_interest">
                  <option value="" disabled selected>Subscription Tier</option>
                  <option value="Go">Go</option>
                  <option value="Eco">Eco</option>
                  <option value="Duplo">Duplo</option>
                  <option value="Pro">Pro - Waiting List</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-xs-12">
                <span class="error-field-last"></span>
              </div>
              <div class="col-md-6 col-xs-12 text-xs-right">
                <button class="button button-green registration-submit" disabled>Get started</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
