<section class="rs-section-stories">
  <div class="dots-container">
    <div class="container"></div>
  </div>
  <div class="slider">
    <div style="background-image: url(images/sections/stories/image.png)">
      <div class="container">
        <div class="row">
          <div class="title col-sm-6">
            Story of the Giwa's
          </div>
          <div class="col-sm-8">
            <p>Look at the Giwa's.</p>
            <p>They are a family with one child and a baby on the way. They live in a Duplex condo right in the heart of Lekki Phase 1. The recent hikes in price of fuel had them questioning how much longer they could continue to keep their generator on. They weren’t sure what to do when the baby arrived.</p>
            <p>They recently signed up for a DUPLO subscription to carry all of their basic loads including lights and fans but also the occasional use of additional appliances like their microwave, iron, water pump and a water heater.</p>
            <p>The Giwa's are resourceful.</p>
            <p>Be like the Giwa's.</p>
          </div>
        </div>
      </div>
    </div>
    <div style="background-image: url(images/sections/stories/image-2.png)">
      <div class="container">
        <div class="row">
          <div class="title col-sm-6">
            Story of the Abdullahi's
          </div>
          <div class="col-sm-8">
            <p>Look at the Abdullahi’s.</p>
            <p>They live in a Bungalow in Surulere with their two school aged children. They were used to putting on their generator as soon as the children arrived from school until they all went to sleep. Sometimes in the hot season, they would keep it on through the night to keep the fans and fridge running.</p>
            <p>A few months ago, their younger daughter was diagnosed with Asthma. Since then, Mrs. Abdullahi was more sensitive to what might have caused the ailment and ways to avoid aggravating her daughter. This heightened sensitivity to generator fumes meant that the family needed to replace their generator with a better option.</p>
            <p>The Abdullahi’s recently signed up to the ECO subscription tier. They were impressed that it carries all of their lighting, fans, televisions, and their mid sized refrigerator for most of the day, turning their generator back to its original intended use as a backup.</p>
            <p>The Abdullahi’s are careful.</p>
            <p>Be like the Abdullahi’s.</p>
          </div>
        </div>
      </div>
    </div>
    <div style="background-image: url(images/sections/stories/image-3.png)">
      <div class="container">
        <div class="row">
          <div class="title col-sm-6">
            Story of Uzoma
          </div>
          <div class="col-sm-8">
            <p>Look at Uzoma.</p>
            <p>She finished youth service a few months ago and found her dream job as a software developer for a tech company nearby her new two-room flat in Yaba.</p>
            <p>She often finds herself working late into the night on her various coding projects. Not wanting to keep her new neighbours up with the noise of a small generator in the flat, Uzoma recently subscribed to the NEO subscription tier. She found that it included TV set, 2 fans, and 3 lights. As well as the ability to keep her laptop charged, it is perfect for her current state of affairs. She took comfort that she would own the system after 1 year - thanks to our flexible payment options.</p>
            <p>Uzoma is considerate.</p>
            <p>Be like Uzoma.</p>
          </div>
        </div>
      </div>
    </div>
    <div style="background-image: url(images/sections/stories/image-4.png)">
      <div class="container">
        <div class="row">
          <div class="title col-sm-6">
            Story of Mrs. Okoya
          </div>
          <div class="col-sm-8">
            <p>Look at Mrs. Okoya.</p>
            <p>She has two small shops on the mainland where she sells textiles and shoes. Despite paying her monthly service charge for a communal generator, there was almost never any power.</p>
            <p>This had left her unable to brighten the shop or even use the inventory management software on the laptop she owned.</p>
            <p>Since last month, she has been a subscriber to the GO subscription tier. Upon paying her deposit, a team came to her shop and installed the system. Now she can power her laptop, TV, fans, lights and a small fridge in her store.</p>
            <p>Mrs. Okoya is prudent.</p>
            <p>Be like Mrs. Okoya.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- END.Stories -->
